<head>
    <title>Your Friends episode to watch!</title>
    <link rel="shortcut-icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/coolScript.js') }}"></script>
</head>
<body>
    <div class="episode">
        <div class="background">
            <img id="background-image" src="{{ url_for('static', filename='images/Friends.jpg') }}">
            <div id="background-overlay">
            </div>
        </div>
        <div class="friends-logo-wrapper">
            <img id="friends-logo-image" src="{{ url_for('static', filename='images/friends.svg') }}" onclick="getNewEpisode()">
        </div>
        <div class="main-content">
            <div class="msg-body hidden">
                <p class="msg-body-main">Your episode for the current moment is:</p>
                <p class="msg-body-title">{{ title }}</p>
                <p class="msg-body-season">{{ season_episode }}</p>
            </div>
            <div class="details">
                <div class="details-content">
                    <p id="episode-description">{{ description }}</p>
                    <img id="episode-image" src="{{ url_for('static', filename='images/episodes/' + image_id) }}">
                </div>
            </div>
        </div>
        <div class="btn-switch" onclick="changeDisplay()">
            Tell me more!
        </div>
    </div>
</body>