body {
    margin: 0;
}

.episode {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background #background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background #background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

.hidden {
    opacity: 0;
}

.msg-body {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5625rem;
    z-index: 1;
    text-align: center;
    word-wrap: normal;
    padding: 1.5625rem;
}

.friends-logo-wrapper {
    display: block;
}

#friends-logo-image {
    position: relative;
    width: 31.25rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#friends-logo-image:hover {
    transform: scale(1.1);
}